.App {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: linear-gradient(to left, rgb(17, 17, 17) 0%, rgb(28, 28, 28) 100%);
}

p {
  margin: 0px;
}

.app-title {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 20px;
  color: grey;
}

.mainview {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.optionside {
  min-width: 400px;
}

.graphside {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px;
  border-radius: 6px;
  border-style: solid;
  border-color: rgb(56, 56, 56);
  margin: 4px;
}

.main-graph-component {
  color: white;
  width: 92%;
  height: 98%;
  border-radius: 6px;
  border-color: rgb(56, 56, 56);
  margin-top: 20px;
}

.contenitore {
  display: grid;
  row-gap: 10px;
  column-gap: 6px;
  margin: 4px;
  grid-template-areas:
    'amount amount order order';
}

.contenitore-top {
  display: grid;
  grid-template-columns: 3.5fr 1fr;
  row-gap: 10px;
  column-gap: 6px;
  margin: 4px;
}

.selection-wrapper {
  display: flex;
  width: 100%;
}

.bin-link {
  width: 60px;
  height: 30px;
  align-self: center;
}

.bin-logo {
  border-radius: 6px;
}


.amount {
  justify-content: space-between;
  grid-area: amount;
}

.order {
  justify-content: space-between;
  grid-area: order;
}

.blocco {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px;
  border-radius: 6px;
  border-style: solid;
  border-color: rgb(56, 56, 56);
}

.selection {
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: 1px;
  border-style: solid;
  border-color: rgb(104, 104, 104);
  width: 82%;
  border-radius: 6px;
  margin-top: 8px;
  padding: 6px;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 4px #29f1ff;

}

.selectionSy {
  background-color: transparent;
  color: white;
  font-size: 28px;
  font-weight: bold;
  border: 1px;
  border-style: solid;
  border-color: rgb(104, 104, 104);
  width: 80%;
  border-radius: 6px;
  margin-top: 8px;
  margin-left: 28px;
  padding: 16px;
  margin-bottom: 18px;
  box-shadow: 1px 1px 4px #29f1ff;
  width: 66%;
}

.selection1 {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: transparent;
  cursor: pointer;
  color: #8bf0f8;
  font-size: 18px;
  border: 1px;
  border-style: solid;
  border-color: grey;
  width: 72%;
  border-radius: 6px;
  margin-top: 8px;
  padding: 4px;
  justify-content: space-between;
  align-items: center;
}

.basic {
  margin-bottom: 14px;
  width: 90%;
}

.basic-single {
  font-size: 18px;
}

.input-amount {
  margin-top: 32px;
  width: 42px;
  margin-left: 35px;
}
/* caselle opzioni */
.option-type {
  display: flex;
  flex-direction: row;
  margin-bottom: 18px;
  width: 100%;
}

.option-amount {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.button-opt {
  background-color: transparent;
  color: white;
  font-size: 10px;
  padding: 2px 8px;
  margin: 2px;
  cursor: pointer;
  border: 1px;
  border-style: solid;
  border-color: rgb(104, 104, 104);
  border-radius: 6px;
  width: 100%;
}

.button-opt:hover {
  color: #8bf0f8;
}

.button-opt:active {
  opacity: 0.3;
}

/* bottoni long short */
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  margin-bottom: 28px;
  height: 82px;
}

.long {
  background-color: rgb(14, 203, 129);
  cursor: pointer;
  margin-left: 8px;
  margin-right: 4px;
  border-style: none;
  border-radius: 6px;
  color: white;
  font-size: 32px;
  font-weight: bold;
  transition: opacity 0.15s;
}

.short {
  background-color: rgb(246, 70, 93);
  cursor: pointer;
  margin-left: 4px;
  margin-right: 8px;
  border-style: none;
  border-radius: 6px;
  color: white;
  font-size: 32px;
  font-weight: bold;
  transition: opacity 0.15s;
}

.short:hover,
.long:hover {
  opacity: 0.8;
}

.short:active,
.long:active {
  opacity: 0.3;
}

.ordini {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 0.7fr 1fr;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid rgb(56, 56, 56);
  border-radius: 6px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  margin: 10px 4px 0px 4px;
}

.container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 0.7fr 1fr;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(56, 56, 56);
  padding-bottom: 6px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin: 10px 10px 0px 10px;
}

.pnl {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 18px;
}

.pnl-green {
  color: rgb(14, 203, 129);
}

.pnl-red {
  color: rgb(246, 70, 93);
}

.green-circle {
  width: 22px;
  height: 22px;
  border-radius: 6px;
  background-color: rgb(14, 203, 129);
  margin: 0 auto;
}

.red-circle {
  width: 22px;
  height: 22px;
  border-radius: 6px;
  background-color: rgb(246, 70, 93);
  margin: 0 auto;
}

.close-button {
  color: white;
  background-color: transparent;
  cursor: pointer;
  padding: 8px 12px;
  border-style: solid;
  border-radius: 6px;
  border-color: rgb(56, 56, 56);
  font-size: 18px;
  transition: opacity 0.15s;
  width: 45px;
  justify-self: center;
}

.close-button:hover {
  color: #8bf0f8;
}

.close-button:active {
  opacity: 0.3;
}

.reduce-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.reduce-button {
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 12px 4px;
  transition: opacity 0.15s;
  border-radius: 6px;
  border-color: rgb(56, 56, 56);
  border-style: solid;
}

.reduce-button:hover {
  color: #8bf0f8;
}

.reduce-button:active {
  opacity: 0.3;
}

.refetch-button {
  padding: 2px;
  cursor: pointer;
  align-items: flex-end;
  font-size: 12px;
  color: white;
  border-radius: 6px;
  background-color: #1e1d1d;
  border: 1px solid rgb(104, 104, 104);
  margin-bottom: 8px;
  margin-top: 16px;
}